.div {
    display: grid;
    grid-template-rows: 50px 400px 50px;
  grid-template-columns: 200px 650px ;
    width: 850px; height: 800px;
gap: 3px;
}
.div1{background-color: black; 
    color: white; grid-column: 1/4;
display: grid; grid-template-columns: 200px 650px;
align-items: center; 
justify-items: center;

}
.div11{ display: grid; grid-template-columns: 150px 150px 150px 150px ;}
#l{font-size: x-large;}
.div2{ background-color: orangered; display: grid; grid-template-rows: 100px 100px 100px 100px ; 
    align-items: center; text-align: center;}
.div2 div{background-color: white;padding: 30px;margin: 1.1em;}
.div3{display: grid;
    text-align: center;
grid-template-columns: auto auto auto auto auto auto;
grid-template-rows: 25px auto;
}
.div4{grid-column: 1/7; display: grid ; 
grid-template-columns: auto auto auto;
justify-items: center; align-items: center;

}

.div3 div{background-color: aqua;}

.div5{grid-row-start: 3; background-color: black; color: white; 
text-align: center;align-self: center;padding: 15px;
grid-column-end: 3;
grid-column-start: 1;
}